.dropdown
  .btn.btn-default.btn-sm{"data-toggle" => "dropdown"}
    Actions
    %i.fa.fa-caret-down#down-arrow

  %ul.dropdown-menu#action-menu{"role"=>"menu", "aria-labelledby"=>"dLabel"}
    %li
      %a.notes-link{"data-toggle" => "modal", "data-target" => "#notes#{reservation.id}"}
        %i.fa.fa-book.book-icon
        Notes
    %li
      - if reservation.get_status == "Reserved"
        = link_to checkout_admin_reservation_path(reservation, :reserved => true), :method => :put do
          %i.fa.fa-arrow-circle-o-up
          Check Out
      - if reservation.get_status == "Checked Out" || reservation.get_status == "Overdue"
        = link_to checkin_admin_reservation_path(reservation), :method => :put do
          %i.fa.fa-arrow-circle-o-down
          Check In

/Notes Modal
.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "Notes", role: "dialog", tabindex: "-1", id: "notes#{reservation.id}"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button"} ×
        %h4#myModalLabel.modal-title Notes
      .modal-body
        = best_in_place(reservation, :notes, type: :textarea, :activator => "#edit#{reservation.id}")
        %a.btn-link{id: "edit#{reservation.id}"}
          %i.fa.fa-pencil.pencil-icon

      .modal-footer
        %button.btn.btn-default{"data-dismiss" => "modal", type: "button"} Close