.container
  -if @archived 
    %h1 All Reservations
  -else
    %h1 Active Reservations
  .new-btn
    .left
      Download: 
      = link_to 'Excel', admin_reservations_path(params.merge(format: "xls"))
    .right
      -if @archived
        = link_to 'Hide Archived', admin_reservations_path(), :class => 'btn btn-primary'
      -else
        = link_to 'Show Archived', admin_reservations_path(:archived => true), :class => 'btn btn-primary'
  %table.table.table-striped.sortable
    %thead
      %tr
        %th Name
        %th Email
        %th Item
        %th Quantity
        %th Status
        %th Reservation Start
        %th Reservation End
        %th Checkout Date
        %th Check In Date
        %th.sorttable_nosort Notes
        %th.sorttable_nosort Actions
    .body
      - @reservations.to_a.each do |reservation|
        %tr
          %td= reservation.user.name
          %td= reservation.user.email
          %td= link_to "#{reservation.item.name}", item_path(reservation.item)
          %td= reservation.quantity
          %td= reservation.get_status
          %td= reservation.reservation_out
          %td= reservation.reservation_in
          %td= reservation.date_out
          %td= reservation.date_in
          %td= best_in_place(reservation, :notes, type: :textarea)
          %td
            - if reservation.get_status == "Reserved"
              = link_to 'Check Out', checkout_admin_reservation_path(reservation, :reserved => true), :method => :put, :class => 'btn btn-default btn-sm'
            - if reservation.get_status == "Checked Out" || reservation.get_status == "Overdue"
              = link_to 'Check In', checkin_admin_reservation_path(reservation), :method => :put, :class => 'btn btn-default btn-sm'
            - if reservation.get_status == "Checked In" || reservation.get_status == "Canceled"
              = link_to 'Archive', archive_admin_reservation_path(reservation), :method => :put, :class => 'btn btn-default btn-sm'
