.container
  -if @canceled
    %h1 All Reservations
  -else
    %h1 Active Reservations
  .new-btn
    .left
      Download:
      = link_to 'Excel', admin_reservations_path(params.merge(format: "xls"))
    .right
      -if @canceled
        = link_to 'Hide Canceled', admin_reservations_path(), :class => 'btn btn-primary'
      -else
        = link_to 'Show Canceled', admin_reservations_path(:canceled => true), :class => 'btn btn-primary'
  %table.table.table-striped.sortable
    %thead
      %tr
        %th Name
        %th Item
        %th #
        %th Status
        %th Date Out
        %th Date In
        %th.sorttable_nosort Actions
    .body
      - @reservations.to_a.each do |reservation|
        - user = reservation.user
        %tr
          %td
            =user.name
            %a{:href => "mailto:" + user.email}
              %i.fa.fa-envelope-o.envelope-icon
          %td= link_to "#{reservation.item.name}", item_path(reservation.item)
          %td= reservation.quantity
          %td= reservation.get_status
          %td= date_out(reservation)
          %td= date_in(reservation)
          %td= render "actions", :reservation => reservation

