.container
  .header
    %h1 All Reservations
    = render "settings"

  .filter
    #filter-btn.btn.btn-default.btn-sm
      Hide Filters
      %i.fa.fa-caret-up.caret-icon

  %table.table.sortable
    %thead
      %tr
        %th Name
        %th Item
        %th Location
        %th #
        %th Status
        %th Date Out
        %th Date In
        %th.sorttable_nosort Actions
    .body
      %tr#filter-section
        = form_tag filter_admin_reservations_path, :method => :get do
          %td
            =text_field_tag :name, @name, :class => 'form-control'
          %td
            =text_field_tag :item, @item, :class => 'form-control'
          %td
          %td
          %td= select_tag :status, options_for_select(["All"] + Reservation::STATUSES, @default_status), :class => 'form-control'
          %td.input-daterange
            =text_field_tag :date_out, @default_date_out, :placeholder => "Start Date", :class => "form-control"
          %td.input-daterange
            =text_field_tag :date_in, @default_date_in, :placeholder => "End Date", :class => "form-control"
          %td
            = submit_tag 'Filter', :class => "btn btn-primary btn-sm"
      - @reservations.to_a.each do |reservation|
        - user = reservation.user
        %tr{:class => reservation.get_status.sub(" ", "_")}
          %td
            =user.name
            %a{:href => "mailto:" + user.email}
              %i.fa.fa-envelope-o.envelope-icon
          %td= link_to "#{reservation.item.name}", item_path(reservation.item)
          %td= reservation.item.location
          %td= reservation.quantity
          %td= reservation.get_status
          = render "/reservations/date_cells", :reservation => reservation
          %td= render "actions", :reservation => reservation

  %div{:id => "reservation_error", :visible => "false"}
