.container
  .header
    %h1 All Reservations
    = render "settings"

  %table.table.sortable
    %thead
      %tr
        %th Name
        %th Item
        %th #
        %th Status
        %th Date Out
        %th Date In
        %th.sorttable_nosort Actions
    .body
      - @reservations.to_a.each do |reservation|
        - user = reservation.user
        %tr{:class => reservation.get_status.sub(" ", "_")}
          %td
            =user.name
            %a{:href => "mailto:" + user.email}
              %i.fa.fa-envelope-o.envelope-icon
          %td= link_to "#{reservation.item.name}", item_path(reservation.item)
          %td= reservation.quantity
          %td= reservation.get_status
          %td{:class => "reservation_out", :'data-id' => reservation.id}= date_out(reservation)
          %td{:class => "reservation_in", :'data-id' => reservation.id}= date_in(reservation)
          %td= render "actions", :reservation => reservation

  %div{:id => "reservation_error", :visible => "false"}
