.dropdown
  .btn.btn-default.btn-sm{"data-toggle" => "dropdown"}
    Actions
    %i.fa.fa-caret-down#down-arrow
  -if current_user.admin? or reservation.get_status == "Reserved"
    %ul.dropdown-menu#action-menu{"role"=>"menu", "aria-labelledby"=>"dLabel"}
      -if current_user.admin?
        %li
          %a.notes-link{"data-toggle" => "modal", "data-target" => "#notes#{reservation.id}"}
            %i.fa.fa-book.book-icon
            Notes
      - if reservation.get_status == "Reserved" 
        %li
          = link_to cancel_reservation_path(reservation), :method => :put, :confirm => 'Are you sure?' do
            %i.fa.fa-times-circle
            Cancel

.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "Notes", role: "dialog", tabindex: "-1", id: "notes#{reservation.id}"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button"} ×
        %h4#myModalLabel.modal-title Notes
      .modal-body
        = best_in_place(reservation, :notes, type: :textarea, :activator => "#edit#{reservation.id}")
        %a.btn-link{id: "edit#{reservation.id}"}
          %i.fa.fa-pencil.pencil-icon

      .modal-footer
        %button.btn.btn-default{"data-dismiss" => "modal", type: "button"} Close
