.container
  %h1 My Reservations
  %table.table
    %thead
      %tr
        %th Item
        %th #
        %th Status
        %th Date Out
        %th Date In
        %th Actions
    .body
      - @reservations.each do |reservation|
        %tr{:class => reservation.get_status.sub(" ", "_")}
          %td= link_to "#{reservation.item.name}", item_path(reservation.item)
          %td= reservation.quantity
          %td= reservation.get_status
          = render "date_cells", :reservation => reservation
          %td= render "actions", :reservation => reservation
  %div{:id => "reservation_error", :visible => "false"}
