.container
  %h1 Reservations
  .new-btn
    -if @archived
      = link_to 'Hide Archived', reservations_path(), :class => 'btn btn-primary'
    -else
      = link_to 'Show Archived', reservations_path(:archived => true), :class => 'btn btn-primary'
  %table.table.table-striped
    %thead
      %tr
        %th Name
        %th Email
        %th Item
        %th Status
        %th Reservation Start
        %th Reservation End
        %th Checkout Date
        %th Check In Date
        %th Actions
    .body
      - @reservations.each do |reservation|
        %tr
          %td= reservation.user.name
          %td= reservation.user.email
          %td= link_to "#{reservation.item.name}", item_path(reservation.item)
          %td= best_in_place(reservation, :status, type: :select, collection: [["Checked In", "Checked In"], ["Checked Out", "Checked Out"], ["Canceled", "Canceled"], ["Archived", "Archived"]])
          %td= best_in_place(reservation, :reservation_out, type: :date)
          %td= best_in_place(reservation, :reservation_in, type: :date)
          %td= best_in_place(reservation, :date_out, type: :date)
          %td= best_in_place(reservation, :date_in, type: :date)
          %td
            - if reservation.status == "Reserved"
              = link_to 'Check Out', checkout_reservation_path(reservation, :reserved => true, :dashboard => true), :method => :put, :class => 'btn btn-default btn-sm'
            - if reservation.status == "Checked Out"
              = link_to 'Check In', checkin_reservation_path(reservation, :dashboard => true), :method => :put, :class => 'btn btn-default btn-sm'
            - if reservation.status == "Checked In" || reservation.status == "Canceled"
              = link_to 'Archive', archive_reservation_path(reservation), :method => :put, :class => 'btn btn-default btn-sm'
