.container
  %h1 Reservations
  %table.table.table-striped
    %thead
      %tr
        %th Name
        %th Email
        %th Item
        %th Status
        %th Actions
    .body
      - @reservations.each do |reservation|
        %tr
          %td= reservation.user.name
          %td= reservation.user.email
          %td= reservation.item.name
          %td= reservation.status
          %td
            - if reservation.status == "Checked Out"
              = link_to 'Check In', checkin_reservation_path(reservation, :dashboard => true), :method => :put, :class => 'btn btn-default btn-sm'
            - if reservation.status == "Reserved"
              = link_to 'Check Out', checkout_reservation_path(reservation, :dashboard => true), :class => 'btn btn-default btn-sm'
