.container
  %h1 My Reservations
  %table.table.table-striped
    %thead
      %tr
        %th Item
        %th #
        %th Status
        %th Start Date
        %th End Date
        %th Actions
    .body
      - @reservations.each do |reservation|
        %tr
          %td= link_to "#{reservation.item.name}", item_path(reservation.item)
          %td= reservation.quantity
          %td= reservation.get_status
          %td= date_out(reservation)
          %td= date_in(reservation)
          %td= render "actions", :reservation => reservation
