= form_for @item, :multipart => true do |f|

  #name
    = f.label :name, 'Name'
    = f.text_field :name

  #id
    = f.label :legacy_id, 'ID'
    = f.text_field :legacy_id

  #quantity
    = f.label :quantity, 'Quantity'
    = f.text_field :quantity

  #tags
    = f.label :tag_list, 'Tags'
    = f.text_field :tag_list, :data => {all: @all_tags}

  #due_date_category
    = f.label :due_date_category, 'Due Date Category'
    = f.select :due_date_category, @due_date_categories

  #description
    = f.label :description, 'Description'
    = f.text_area :description

  #image
    = f.file_field :image

  #submit
    = f.submit 'Submit'
