#name
  = label :item, :name, 'Name'
  = text_field :item, :name

#id
  = label :item, :legacy_id, 'ID'
  = text_field :item, :legacy_id

#quantity
  = label :item, :quantity, 'Quantity'
  = text_field :item, :quantity

#category
  = label :item, :category, 'Category'
  = select :item, :category, @all_categories

#due_date_category
  = label :item, :due_date_category, 'Due Date Category'
  = select :item, :due_date_category, @due_date_categories

#description
  = label :item, :description, 'Description'
  = text_area :item, :description

#image
  = file_field :item, :image
