= label :item, :name, 'Name'
= text_field :item, :name

= label :item, :category, 'Category'
= select :item, :category, @all_categories

= label :item, :description, 'Description'
= text_area :item, :description

= file_field :item, :image
