.list-item-wrapper
  .item-container{:data => {:item_id => item.id}}
    .item-info
      .image-wrapper
        =link_to image_tag(item.image.url(:medium)), item_path(item), :id => "#{item.name}"
      .content
        =link_to item_path(item), :class => "title" do
          =item.name
        .actions
          -if is_admin?
            -if item.active
              = link_to 'Checkout', checkout_item_path(item), :method => :get, :class => "btn btn-primary btn-xs"
            = link_to 'Edit', edit_item_path(item), {:method => :get, :class => "btn btn-default btn-xs"}
            - if item.inactive
              = link_to 'Unarchive', unarchive_item_path(item), {:method => :put, :confirm => 'Are you sure?', :class => "btn btn-primary btn-xs"}
            - else
              = link_to 'Archive', item_path(item), {:method => :delete, :confirm => 'Are you sure?', :class => "btn btn-danger btn-xs"}
            |
            %b Available:
            =item.in_inventory
            |
            %b Location:
            - if item.location and item.location != ""
              =item.location
            - else
              Unspecified
          -else
            = link_to 'Reserve', item_path(item), {:method => :get, :class => "btn btn-primary btn-xs"}
      .subtitle{:class => (item.is_available ? "available" : "unavailable")}= item.available

