.item-box.col-sm-12.form-horizontal#reservation-table
  %h4 Reservations on this item

  %table.table.table-striped
    %thead
      %tr
        %th Name
        %th #
        %th Status
        %th Date Out
        %th Date In
    .body
      - @reservations.to_a.reverse_each do |reservation|
        %tr
          %td= reservation.user.name
          %td= reservation.quantity
          %td= reservation.get_status
          %td= date_out(reservation)
          %td= date_in(reservation)
