-if current_user
  %span#reservation.item-box.form-horizontal
    %h4 Reserve this item
    = form_tag reserve_item_path(@item), :method => :get, :avail_hash => @availability.to_json do

      %p
        = label :reservation, :quantity, 'Quantity'
        = select :reservation, :quantity, options_for_select(1..@item.quantity), {}, :class => "form-control"
      %br

      .input-daterange
        = label :reservation, :start_date, 'Start Date'
        = text_field :reservation, :start_date, :class => "form-control"
        %br
        = label :reservation, :end_date, 'End Date'
        = text_field :reservation, :end_date, :class => "form-control"

      .input-group
        = submit_tag 'Reserve Item', :class => "calteach-button button-green"

