-if current_user
  %span#reserve
    %h4 Reserve this item
    = form_tag reserve_item_path(@item), :method => :get do
      = label :reservation, :start_date, 'Start Date'
      = text_field :reservation, :start_date, "data-behaviour" => "datepicker"

      = label :reservation, :end_date, 'End Date'
      = text_field :reservation, :end_date, "data-behaviour" => "datepicker"

      = submit_tag 'Reserve Item', :class => "btn btn-success btn-xs"

