#container
  .content
    = render partial: 'left_column'

    .right-column-container.column
      - if is_admin?
        .active-btn
          -if @inactive
            = link_to 'Show Active', items_path(), :class => 'btn btn-primary'
          -else
            = link_to 'Show Archived', items_path(:inactive => true), :class => 'btn btn-default'
      .btn-group#toolbar
        %a.btn.btn-default#card-view-link{:href => "#card-view", "data-toggle" => "tab"}
          %i.fa.fa-th-large
        %a.btn.btn-default#list-view-link{:href => "#list-view", "data-toggle" => "tab"}
          %i.fa.fa-list

      #item-cards.tab-content
        - if @items.length > 0
          .tab-pane#card-view
            - @items.each do |item|
              = render partial: 'square_item_card', locals: {item: item}
          .tab-pane#list-view
            - @items.each do |item|
              = render partial: 'list_item_card', locals: {item: item}

        - else
          = render partial: 'no_results'
