%script{:type => "text/javascript",
        :src  => "items_detail.js"}

#container.inventory
  .content
    = render partial: 'left_column'
    .right-column-container.column.inventory
      .item-detail
        .item-left
          #image= image_tag @item.image.url(:medium), :class => "img-rounded"
          - if is_admin?
            = render partial: 'admin'
        .item-right
          %h2#name= @item.name
          #description= @item.description
          #tags
            - @item.tag_list.each do |tag|
              .label.label-default.tag
                = tag
          %br
          = render partial: 'reserve_item_form'
          / #backlink= link_to 'Back to Items', '/'
      - if is_admin?
        =render partial: 'reservation_history'
