#container
  .content
    = render partial: 'left_column'
    .right-column-container.column
      .item-detail
        .item-left
          #image= image_tag @item.image.url(:medium), :class => "img-rounded"
          - if is_admin?
            = render partial: 'admin'
        .item-right
          %h2#name= @item.name
          #description= @item.description
          #category{:class => "label label-info"}= @item.category
          %br
          = render :partial => 'reserve_item_form'
          / #backlink= link_to 'Back to Items', '/'
      - if is_admin?
        = render :partial => 'reservation_history'