.container
  %h1 Users
  .new-btn
    -if @inactive
      = link_to 'Show Active', admin_users_path(), :class => 'btn btn-primary'
    -else
      = link_to 'Show Inactive', admin_users_path(:inactive => true), :class => 'btn btn-primary'
    = link_to 'Create New User', new_admin_user_path, :class => 'btn btn-primary'
  %table.table.table-striped
    %thead
      %tr
        %th Name
        %th User Type
        %th Email
        %th Phone
        %th Actions
    .tbody
      - @users.each do |user|
        %tr
          %td= user.name
          %td= user.category_str
          %td= user.email
          %td= user.phone
          %td
            = link_to 'Edit', edit_admin_user_path(user), :class => 'btn btn-default btn-sm', :id => "edit#{user.id}"
            = link_to 'Destroy', admin_user_path(user), :method => :delete, :class => 'btn btn-danger btn-sm', :id => "destroy#{user.id}"
            / :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }