!!! 5
%html

  %head
    #main-menu
      %ul{:class => "main-navigation"}
        - if user_signed_in?
          %li{:class => "tab account dropdown"}>
            %i{:class => "fa fa-user"}
            %p= current_user.email
            %ul
              %li Change Password
              %li Logout

          %li{:class => "tab account"}>
            %i{:class => "fa fa-umbrella"}
            \#{link_to "Logout", destroy_user_session_path, method: :delete}
        - else
          %li{:class => "tab account"}>
            %i{:class => "fa fa-user"}
            = link_to "Sign up", new_user_registration_path
          %li{:class => "account"}>
            %i{:class => "fa fa-umbrella"}
            \#{link_to "Login", new_user_session_path}
        %li{:class => "tab application"}>
          %i{:class => "fa fa-book"}
          = link_to "Inventory", new_user_session_path
        %li{:class => "tab application"}>
          %i{:class => "fa fa-ticket"}
          = link_to "See Reservations", new_user_session_path
        %li{:class => "tab application"}>
          %i{:class => "fa fa-shopping-cart"}
          = link_to "See Cart (5)", new_user_session_path, {:class => "underline"}
        %li{:class => "tab account"}>
          %i{:class => "fa fa-envelope"}
          = link_to "Contact", new_user_session_path
    %title Calteach
    = stylesheet_link_tag "http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"
    = stylesheet_link_tag "http://fonts.googleapis.com/css?family=Open+Sans:300italic,400,300,700,600"
    = stylesheet_link_tag "application"
    = javascript_include_tag "application"
    = csrf_meta_tags

  %body
    - flash.each do |name, msg|
      .flash
        - if not msg.nil?
          - if msg.is_a?(String)
            %div{:class => "alert alert-#{name == :notice ? "success" : "error"}"}
              %a.close{"data-dismiss" => "alert"} ×
              = content_tag :div, msg, :id => "flash_#{name}"

    = yield
