!!! 5
%html

  %head
    #user_nav
      - if user_signed_in?
        Logged in as
        = succeed "." do
          %strong= current_user.email
        = link_to 'Edit profile', edit_user_registration_path
        |
        \#{link_to "Logout", destroy_user_session_path, method: :delete}
      - else
        = link_to "Sign up", new_user_registration_path
        |
        \#{link_to "Login", new_user_session_path}

    %title Calteach
    = stylesheet_link_tag "http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"
    = stylesheet_link_tag "http://fonts.googleapis.com/css?family=Open+Sans:300italic,400,300,700,600"
    = stylesheet_link_tag "application"
    = javascript_include_tag "application"
    = csrf_meta_tags

  %body
    - flash.each do |name, msg|
      .flash
        - if not msg.nil?
          - if msg.is_a?(String)
            %div{:class => "alert alert-#{name == :notice ? "success" : "error"}"}
              %a.close{"data-dismiss" => "alert"} ×
              = content_tag :div, msg, :id => "flash_#{name}"

    = yield
